{% extends 'base.html' %}


{% block title %}
About us
{% endblock title %}


{% block body %}
<div class="container">
    <h1>About Us</h1>
    <hr>
    <div class="inline">
        <div style="margin: auto;">

            <img src="/static/img/5.jpg" alt="" width="570px" height="314px">
        </div>
        <div style="margin-left: 20px;">

            <h2 style="text-align: center;"> About Employee management System</h2>
            <p style="font-size: small;">Employee Management System is a function in organizations designed to maximize employee performance of an
                employer's strategic objectives. HR is primarily concerned with the managment of people within
                organizations,
                focusing on policies and systems. HR departments and units in organizations typically undertake a number
                of
                activities, including employee recruitment, training and development, performance appraisal, and
                rewarding
                (e.g., managing pay and benefit systems). HR is also concerned with industrial relations, that is, the
                balancing
                of organizational practices with requirements arising from collective bargaining and from governmental
                laws.
                <br><br>

                HR is a product of the human relations movement of the early 20th century, when researchers began
                documenting
                ways of creating business value through the strategic management of the workforce. The function was
                initially
                dominated by transactional work, such as payroll and benefits administration, but due to globalization,
                company
                consolidation, technological advances, and further research, HR as of 2015 focuses on strategic
                initiatives like
                mergers and acquisitions, talent management, succession planning. industrial and labor relations, and
                diversity
                and inclusion.</p>
        </div>
    </div>
</div>

{% endblock body %}